# Ignorar carpeta de imágenes
Images/
Fibers/Images/
Burocratic/
Data/
Externo/
model_V1
Obsolet/
Rerefences/
runs/
Tesis_Versiones
TransPolymer


# Ignorar todos los archivos JSON (si ninguno es necesario)
*.json

# O si solo quieres ignorar los de una carpeta específica:
Data/*.json

# Archivos temporales de Word
~$*

*.pth

~WRL1675.tmp